{% csrf_token %}
{% if form.non_field_errors %}
    <div class="user-errors">
        {{ form.non_field_errors }}
    </div>
{% endif %}
<div>
    <div>
        {% if form.avatar.errors %}
            <div class="field-errors">{{ form.avatar.errors }}</div>
        {% endif %}
        {{ form.avatar }}
    </div>
    {% for field in form %}
        {% if field.name != "avatar" %}
            <div>
                {% if field.errors %}
                    <div class="field-errors">{{ field.errors }}</div>
                {% endif %}
                    {{ field.label_tag }}
                    {{ field }}
            </div>
        {% endif %}
    {% endfor %}
</div>
