{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Лучшие кулинарные рецепты на любой вкус. Готовьте с удовольствием!">
        <meta name="keywords"
              content="рецепты, кулинария, еда, кухня, готовить дома">
        <title>
            {% block title %}
                Главная
            {% endblock title %}
        </title>
        <link type="text/css"
              href="{% static 'cooking/css/styles.css' %}"
              rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <div class="header-container">
                <a href="{% url 'cooking:index' %}" class="logo">
                    <img src="{% static 'cooking/images/logo.png' %}"
                         alt="Логотип"
                         class="logo-img"
                         width="40"
                         height="40">
                    <span>Мои рецепты</span>
                </a>
                <nav class="nav-menu">
                    <a href="{% url 'cooking:index' %}">Главная</a>
                    <a href="{% url 'accounts:account' %}">Мой профиль</a>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'accounts:register' %}">Зарегистрироваться</a>
                        <a href="{% url 'accounts:login' %}">Войти</a>
                    {% else %}
                        <form action="{% url 'accounts:logout' %}" method="post" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Выйти</button>
                        </form>
                    {% endif %}
                </nav>
            </div>
        </header>
        <main>
            <aside class="sidebar">
                {% block sidebar %}
                    <!-- Контент по умолчанию -->
                    <div class="sidebar-content">
                        {% load template_tags %}
                        {% show_sidebar %}
                    </div>
                {% endblock sidebar %}
            </aside>
            <!-- Основной контент -->
            <section class="main-content">
                {% block content %}<!-- Сюда будет подставляться содержимое страниц -->{% endblock %}
            </section>
        </main>
        <footer class="main-footer">
            <div class="footer-content">
                <span class="footer-logo">Мои рецепты</span>
                <p class="footer-copy">©; {% now "Y" %} Мои Рецепты. Сделано с любовью.</p>
            </div>
        </footer>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        </script>
    </body>
</html>
