{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Лучшие кулинарные рецепты на любой вкус. Готовьте с удовольствием!">
        <meta name="keywords"
              content="рецепты, кулинария, еда, кухня, готовить дома">
        <title>
            {% block title %}
                Главная
            {% endblock title %}
        </title>
        <link type="text/css"
              href="{% static 'cooking/css/styles.css' %}"
              rel="stylesheet">
    </head>
    <body>
        <header class="main_header">
            <div class="header_container">
                <a href="{% url 'cooking:index' %}" class="logo">
                    <img src="{% static 'cooking/images/logo.png' %}"
                         alt="Логотип"
                         class="logo_img"
                         width="40"
                         height="40">
                    <span>Мои рецепты</span>
                </a>
                <nav class="nav_menu">
                    <a href="{% url 'cooking:add_recipe' %}">Добавить рецепт</a>
                    <a href="{% url 'cooking:index' %}">Главная</a>
                    <a href="{% url 'cooking:index' %}">Зарегистрироваться</a>
                    <a href="{% url 'cooking:index' %}">Войти</a>
                    <a href="{% url 'admin:index' %}">Администратор</a>
                </nav>
            </div>
        </header>
        <main>
            <aside class="sidebar">
                {% block sidebar %}
                    <!-- Контент по умолчанию -->
                    <div class="sidebar_content">
                        {% load sidebar_tags %}
                        {% show_sidebar %}
                    </div>
                {% endblock sidebar %}
            </aside>
            <!-- Основной контент -->
            <section class="main_content">
                {% block content %}<!-- Сюда будет подставляться содержимое страниц -->{% endblock %}
            </section>
        </main>
        <footer class="main_footer">
            <div class="footer_container">
                <div class="footer_content">
                    <span class="footer_logo">Мои рецепты</span>
                    <p class="footer_copy">©; {% now "Y" %} Мои Рецепты. Сделано с любовью.</p>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        </script>
    </body>
</html>
