{% load static %}
<div class="cards-container">
    {% for recipe in recipes %}
        <div class="card">
            <a href="{{ recipe.get_absolute_url }}" class="card-title">{{ recipe.name|capfirst }}</a>
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name|capfirst }}" class="card-image">
            {% else %}
                <img src="{% static 'cooking/images/not_image.jpg' %}" alt="Нет изображения" class="card-image">
            {% endif %}
            <div class="card-subtitle">Кухня: {{ recipe.cuisine.name }}</div>
            <div class="card-subtitle">Автор: {{ recipe.author.username|default:"Неизвестен" }}</div>
            <div class="card-subtitle">Категория: {{ recipe.category.name }}</div>
        </div>
    {% endfor %}
</div>
