{% extends "base.html" %}
{% block title %}
    {{ "Вход в аккаунт" }}
{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'cooking:index' %}">Главная</a> / <span>{{ "Вход в аккаунт" }}</span>
    </nav>
    <div class="user-container">
        <h3>Вход в аккаунт</h3>
        <form method="post" class="user-form">
            {% include "accounts/includes/user_form.html" %}
            <div>
                <button type="submit" class="btn-user">Войти</button>
                <a href="{% url 'accounts:password_reset' %}" class="forgot-password">Забыли пароль?</a>
            </div>
        </form>
    </div>
{% endblock content %}