{% extends "base.html" %}
{% block title %}
    {{ "Новый пароль" }}
{% endblock title %}
{% block content %}
    <div class="user-container">
        <h3>Создание нового пароля</h3>
        {% if validlink %}
            <form method="post" class="user-form">
                {% include "accounts/includes/password_form.html" %}
                <div>
                    <button type="submit" class="btn-user">Изменить пароль</button>
                </div>
            </form>
        {% else %}
            <div>
                <p class="invalid-link-message">Ссылка недействительна или ее срок истек</p>
                <a href="{% url 'accounts:password_reset' %}" class="invalid-link-action">Запросить инструкции еще раз?</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}