{% extends "base.html" %}
{% block title %}
    {{ "Изменить пароль" }}
{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'accounts:account' %}">Личный кабинет</a> / <span>{{ "Редактор пароля" }}</span>
    </nav>
    <div class="user-container">
        <h3>Редактор пароля</h3>
        <form method="post" class="user-form">
            {% include "accounts/includes/password_form.html" %}
            <div>
                <button type="submit" class="btn-user">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}