{% extends "base.html" %}
{% block title %}
    {{ "Востановление пароля" }}
{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'accounts:login' %}">Вход в аккаунт</a> / <span>{{ "Востановление пароля" }}</span>
    </nav>
    <div class="user-container">
        <h3>Востановление пароля</h3>
        <form method="post" class="user-form">
            {% include "accounts/includes/email_form.html" %}
            <div>
                <button type="submit" class="btn-user">Отправить</button>
            </div>
        </form>
    </div>
{% endblock content %}