{% extends "base.html" %}
{% block title %}
    {{ "Регистрация аккаунта" }}
{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'cooking:index' %}">Главная</a> / <span>{{ "Создать аккаунт" }}</span>
    </nav>
    <div class="user-container">
        <h3>Регистрация аккаунта</h3>
        <form method="post" class="user-form">
            {% include "accounts/includes/user_form.html" %}
            <div>
                <button type="submit" class="btn-user">Создать аккаунт</button>
            </div>
        </form>
    </div>
{% endblock content %}
