{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ "Добавить новый рецепт" }}
{% endblock title %}
{% block content %}
    <div class="form-recipe-container">
        <h3>Создание рецепта</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Описание рецепта</h4>
            <div class="form-recipe">
                <div class="error">
                    {% if error_form_ingredient %}
                        {{ error_form_ingredient }}
                    {% endif %}
                </div>
                {% for field in form_recipe %}
                    <div>
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h4>Ингредиенты</h4>
            <div class="form-ingredients">
                {{ formset.management_form }}
                <div id="ingredients-container">
                    {% for form in formset %}
                        <div class="ingredient-form">
                            {% for field in form %}
                                {% if field.name != "id" and field.name != "recipe" %}
                                    <div class="field-wrapper">
                                        {{ field.label_tag }} {{ field }}
                                        <div class="error">
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <button type="button"
                        class="btn btn-add"
                        hx-get="{% url 'cooking:add_ingredient_form' %}"
                        hx-target="#ingredients-container"
                        hx-swap="beforeend">+ Добавить ингредиент</button>
            </div>
            <div>
                <button type="submit" class="btn btn-save">🚀 Опубликовать рецепт</button>
            </div>
        </form>
    </div>
    <script src="{% static 'cooking/js/ingredient_form.js' %}"></script>
{% endblock content %}
