{% extends "base.html" %}
{% block title %}
    {{ cuisine.name }}
{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'cooking:index' %}">Главная</a> / <span>{{ cuisine.name }}</span>
    </nav>
    <h3>Рецепты кухни: {{ cuisine.name }}</h3>
    {% if recipes %}
        {% include "cooking/includes/recipes.html" %}
        {% include "cooking/includes/pagination.html" %}
    {% else %}
        <p>Рецептов этой кухни пока нет</p>
    {% endif %}
{% endblock content %}
