{% extends "base.html" %}
{% block title %}{{ recipe.name }}{% endblock title %}
{% block content %}
    <nav class="breadcrumbs">
        <a href="{% url 'cooking:index' %}">Главная</a> / <span>{{ recipe.name }}</span>
    </nav>
    <article class="recipe-detail">
        <h2>{{ recipe.name }}</h2>
        <div class="cuisine-badge">{{ recipe.cuisine.name }} кухня</div>
        <section class="ingredients-section">
            <h4>Ингредиенты</h4>
            <ul class="ingredients-list">
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.name }} {{ ingredient.amount|floatformat }} {{ ingredient.get_unit_display }}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="instructions-section">
            <h4>Описание блюда</h4>
            {{ recipe.description|linebreaks }}
            <h4>Способ приготовления</h4>
            {{ recipe.instructions|linebreaks }}
        </section>
    </article>
{% endblock content %}
